.green{
	background-color: rgb(103, 162, 37);
}

.yellow{
	background-color: rgb(249, 185, 50);
}

.blue{
	background-color: rgb(23, 152, 212);
}

.black{
	background-color: rgb(35, 32, 33);
}

.red{
	background-color: rgb(213, 0, 37);
}